/**登录页面CSS**/
.login-panel{
    width:400px;
    height: 280px;
    left: 50%;
    margin: 100px auto;
}
/**登录页面CSS 结束**/

.icon-succeed{
    background: url("img/succeed.png") no-repeat;
    display: inline-block;
    width:44px;
    height: 44px;
    vertical-align: middle;
}

.icon-error{
    background: url("img/error.png") no-repeat;
    display: inline-block;
    width:44px;
    height: 44px;
    vertical-align: middle;
}

.icon-question{
    background: url("img/question.png") no-repeat;
    display: inline-block;
    width:44px;
    height: 44px;
    vertical-align: middle;
}

.icon-warning{
    background: url("img/warning.png") no-repeat;
    display: inline-block;
    width:44px;
    height: 44px;
    vertical-align: middle;
}

.td-center{
    text-align: center;
}