<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-5p] %d{MM-dd HH:mm:ss.SSS} [%-20t] L:%-3L %-15c{0} - %m%n</pattern>
        </encoder>

        <!-- 只输出level级别的日志 -->
        <filter class = "ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUGE</level>
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/server.log</File>
        <encoder>
            <pattern>[%-5p] %d{MM-dd HH:mm:ss} [%-18t] L:%-3L %-15c{0} - %m%n</pattern>
        </encoder>

        <!-- 只输出level级别以上的日志 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/server.%d{yyyy-MMdd-HH}.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="cn.v5cn.v5cms" level="DEBUGE" />
    <logger name="org.springframework" level="ERROR" />
    <logger name="log4j.logger.org.springframework.data" level="ERROR"/>

    <root level="ERROR">
        <!--<appender-ref ref="FILE"/>-->
        <appender-ref ref="stdout"/>
    </root>
</configuration>