<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.v5cn.v5cms.dao.AdvposMapper">
  <resultMap id="BaseResultMap" type="cn.v5cn.v5cms.entity.Advpos">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="advPosId" jdbcType="BIGINT" property="advposid" />
    <result column="advPosName" jdbcType="VARCHAR" property="advposname" />
    <result column="advPosState" jdbcType="INTEGER" property="advposstate" />
    <result column="advPosDes" jdbcType="VARCHAR" property="advposdes" />
  </resultMap>
</mapper>