<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.v5cn.v5cms.dao.ContentMapper">
  <resultMap id="BaseResultMap" type="cn.v5cn.v5cms.entity.Content">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="contentId" jdbcType="BIGINT" property="contentid" />
    <result column="columnId" jdbcType="BIGINT" property="columnid" />
    <result column="cname" jdbcType="VARCHAR" property="cname" />
    <result column="lastdt" jdbcType="TIMESTAMP" property="lastdt" />
    <result column="stick" jdbcType="INTEGER" property="stick" />
    <result column="stickNum" jdbcType="INTEGER" property="sticknum" />
    <result column="cpics" jdbcType="VARCHAR" property="cpics" />
    <result column="cattas" jdbcType="VARCHAR" property="cattas" />
    <result column="dispic" jdbcType="VARCHAR" property="dispic" />
    <result column="writerId" jdbcType="BIGINT" property="writerid" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="contentDes" jdbcType="VARCHAR" property="contentdes" />
    <result column="contentKey" jdbcType="VARCHAR" property="contentkey" />
    <result column="outside" jdbcType="INTEGER" property="outside" />
    <result column="outsideURL" jdbcType="VARCHAR" property="outsideurl" />
    <result column="publishDT" jdbcType="VARCHAR" property="publishdt" />
    <result column="siteId" jdbcType="BIGINT" property="siteid" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="sourceURL" jdbcType="VARCHAR" property="sourceurl" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="allowComment" jdbcType="INTEGER" property="allowcomment" />
    <result column="titleBold" jdbcType="INTEGER" property="titlebold" />
    <result column="titleColor" jdbcType="VARCHAR" property="titlecolor" />
    <result column="titleItalic" jdbcType="INTEGER" property="titleitalic" />
    <result column="cbody" jdbcType="LONGVARCHAR" property="cbody" />
  </resultMap>
</mapper>