<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.v5cn.v5cms.dao.SiteMapper">
  <resultMap id="BaseResultMap" type="cn.v5cn.v5cms.entity.Site">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="siteId" jdbcType="BIGINT" property="siteid" />
    <result column="siteName" jdbcType="VARCHAR" property="sitename" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="protocol" jdbcType="VARCHAR" property="protocol" />
    <result column="siteDeputyTitle" jdbcType="VARCHAR" property="sitedeputytitle" />
    <result column="siteKey" jdbcType="VARCHAR" property="sitekey" />
    <result column="siteDescribed" jdbcType="VARCHAR" property="sitedescribed" />
    <result column="createDate" jdbcType="VARCHAR" property="createdate" />
    <result column="siteicp" jdbcType="VARCHAR" property="siteicp" />
    <result column="siteStatisticCode" jdbcType="VARCHAR" property="sitestatisticcode" />
    <result column="siteFooterInfo" jdbcType="VARCHAR" property="sitefooterinfo" />
    <result column="isclosesite" jdbcType="INTEGER" property="isclosesite" />
    <result column="themeName" jdbcType="VARCHAR" property="themename" />
  </resultMap>

  <resultMap id="RoleIdResultType" type="cn.v5cn.v5cms.entity.Site" extends="BaseResultMap">
    <result column="role_id" jdbcType="BIGINT" property="roleId"/>
  </resultMap>

  <select id="findByUserNotCloseSite" resultMap="RoleIdResultType">
    select s.*,usr.`role_id` from site s inner join user_site_role usr
    on s.`siteId`=usr.`site_id` where usr.`user_id`=#{userId} and s.`isclosesite`=1
  </select>

</mapper>