<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.v5cn.v5cms.dao.SystemRoleResMapper">
  <resultMap id="BaseResultMap" type="cn.v5cn.v5cms.entity.SystemRoleRes">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="res_id" jdbcType="BIGINT" property="resId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
</mapper>